/* CSS By siGeu */
body {background-image:url("images/bg_bot.jpg"); background-attachment:fixed;	  }
#outer {height: 0px; width: 650px; }
#outerSambung {width: 700px; height: 0px; }
.row_image {height: 120px; width: 650px; float: left; padding-left: 30px; padding-bottom:10px; }
.row_imageSambung {height: 120px; width: 700px; float: right; padding-left: 30px; padding-bottom:10px; }
.panel_huruf {background-clip: border-box;
              background-attachment: scroll;
              background-color: rgb(238, 238, 238);
              background-origin: padding-box;
              display: block;

              font-family:"Trebuchet MS",Arial,Helvetica,sans-serif;


              border-bottom-color: rgb(170, 170, 170);
              border-bottom-style: solid;
              border-bottom-width: 1px;

              border-left-color: rgb(170, 170, 170);
              border-left-style: solid;
              border-left-width: 1px; 

              border-right-color: rgb(187, 187, 187);
              border-right-style: solid;
              border-right-width: 1px; 

              border-top-color: rgb(221, 221, 221);
              border-top-style: solid;
              border-top-width: 1px; 


              height: 110px; 
              width: 100px; 
              float: left; 
              margin: 10px 10px 10px 10px;}

.panel_komentar {background-clip: border-box;
                 
              background-attachment: scroll;
              background-color: rgb(238, 238, 238);
              background-origin: padding-box;
              display: block;

              font-family:"Trebuchet MS",Arial,Helvetica,sans-serif;


              border-bottom-color: rgb(170, 170, 170);
              border-bottom-style: solid;
              border-bottom-width: 1px;

              border-left-color: rgb(170, 170, 170);
              border-left-style: solid;
              border-left-width: 1px; 

              border-right-color: rgb(187, 187, 187);
              border-right-style: solid;
              border-right-width: 1px; 

              border-top-color: rgb(170, 170, 170);
              border-top-style: solid;
              border-top-width: 1px; 


              height: 300px; 
              width: 500px; 
/*              float: left; */
              margin: 30px 10px 100px 10px;}


.panel_info {background-clip: border-box;
                 
              background-attachment: scroll;
              background-color: rgb(238, 238, 238);
              background-origin: padding-box;
              display: block;

              font-family:"Trebuchet MS",Arial,Helvetica,sans-serif;


              border-bottom-color: rgb(170, 170, 170);
              border-bottom-style: solid;
              border-bottom-width: 1px;

              border-left-color: rgb(170, 170, 170);
              border-left-style: solid;
              border-left-width: 1px; 

              border-right-color: rgb(187, 187, 187);
              border-right-style: solid;
              border-right-width: 1px; 

              border-top-color: rgb(170, 170, 170);
              border-top-style: solid;
              border-top-width: 1px; 


              height: fit-content; 
              width: 660px; 
            
/*              float: left; */
              margin: 30px 10px 5px 10px;}







.panel_hurufSambung {background-clip: border-box;
                     background-attachment: scroll;
                     background-color: rgb(238, 238, 238);
                     background-origin: padding-box;
                     display: block;

                     font-family:"Trebuchet MS",Arial,Helvetica,sans-serif;


                     border-bottom-color: rgb(170, 170, 170);
                     border-bottom-style: solid;
                     border-bottom-width: 1px;

                     border-left-color: rgb(170, 170, 170);
                     border-left-style: solid;
                     border-left-width: 1px; 

                     border-right-color: rgb(187, 187, 187);
                     border-right-style: solid;
                     border-right-width: 1px; 

                     border-top-color: rgb(221, 221, 221);
                     border-top-style: solid;
                     border-top-width: 1px; 


                     height: 110px; 
                     width: 200px; 
                     float: left; 
                     margin: 10px 10px 10px 10px;}

.panel_hurufSambungPanjang {background-clip: border-box;
                            background-attachment: scroll;
                            background-color: rgb(238, 238, 238);
                            background-origin: padding-box;
                            display: block;

                            font-family:"Trebuchet MS",Arial,Helvetica,sans-serif;


                            border-bottom-color: rgb(170, 170, 170);
                            border-bottom-style: solid;
                            border-bottom-width: 1px;

                            border-left-color: rgb(170, 170, 170);
                            border-left-style: solid;
                            border-left-width: 1px; 

                            border-right-color: rgb(187, 187, 187);
                            border-right-style: solid;
                            border-right-width: 1px; 

                            border-top-color: rgb(221, 221, 221);
                            border-top-style: solid;
                            border-top-width: 1px; 


                            height: 110px; 
                            width: 300px; 
                            float: left; 
                            margin: 10px 10px 10px 10px;}



#gambar {background-image:url("images/1.jpg");   
         height: 90px; 
         width: 110px; 
         float: left; 
         margin: 10px 10px 10px 10px;}

#head {background-image:url("images/head.png");   height: 30px; width: 1024px; 
       margin: 0 auto;}
#banner {background-image:url("images/banner.jpg");   
         height: 250px; 
         width: 1024px; 

}
.ln_banner{background-image:url("images/ln_banner.png");   
           height: 10px; 
           width: 1024px; 

}

/*-----------------footer-----------------*/
.footer {background-image:url("images/footer.png"); height: 91px; width: 1024px; }

.menu_content {width: 300px;  float: left; background: #fdfff9; /* Old browsers */
background: -moz-linear-gradient(top,  #fdfff9 0%, #91e842 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fdfff9), color-stop(100%,#91e842)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #fdfff9 0%,#91e842 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #fdfff9 0%,#91e842 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #fdfff9 0%,#91e842 100%); /* IE10+ */
background: linear-gradient(to bottom,  #fdfff9 0%,#91e842 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fdfff9', endColorstr='#91e842',GradientType=0 ); /* IE6-9 */
}
.main_content {width:724px; height: 1024px;   float: right; background-image:url("images/transparant.png");
               font-family:Verdana,Arial,sans-serif; font-size: 1em; text-align: justify; }

.login_form {width: 300px; height:215px; background-image:url("images/login_form.png"); font-family:Verdana,Arial,sans-serif; font-size: 0.9em; text-align: justify; line-height:150%;}
#blank_form {width: 300px; height:750px; background-image:url("images/blank_form.png")}

.panel_daftar {width:280px; height: fit-content; background: #fdfff9; /* Old browsers */
background: -moz-linear-gradient(top,  #fdfff9 0%, #91e842 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fdfff9), color-stop(100%,#91e842)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #fdfff9 0%,#91e842 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #fdfff9 0%,#91e842 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #fdfff9 0%,#91e842 100%); /* IE10+ */
background: linear-gradient(to bottom,  #fdfff9 0%,#91e842 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fdfff9', endColorstr='#91e842',GradientType=0 ); /* IE6-9 */
}

#ft_blue {background-image: url("images/fot.png"); width: 1024px; height:60px }

.hijaiyah {height: 40px; width: 100px; text-align: center; padding:10px 0px 0px 0px }
.hijaiyahPanjang {height: 40px; width: 200px; text-align: center; padding:10px 0px 0px 0px }

.spelling_hijaiyah {height: 10px; width: 100px; font-size: 1em; text-align:center }
.spellingPanjang {height: 10px; width: 300px; font-size: 1em; text-align:center }
.spelling {height: 10px; width: 200px; font-size: 1em; text-align:center }
.play{height: 20px; width: 100px; padding:12px 0px 0px 0px; }


.teori{font-family:Verdana,Arial,sans-serif; font-size: 1em; width: 650px; text-align: justify; line-height:150%; }

p.nunMati{text-decoration:none;}
p.nunMati:hover {color:#FF704D;}
p.nunMatiact {color:#91e842;}
p.nunMatiact:hover {color:#FF704D;}

p.pengantar {text-decoration:none;}
p.pengantar:hover  {color:#FF704D;}
p.pengantaract {color:#91e842;}
p.pengantaract:hover  {color:#FF704D;}


p.mimMati {text-decoration:none;}
p.mimMati:hover {color:#FF704D;}
p.mimMatiact {color:#91e842;}
p.mimMatiact:hover {color:#FF704D;}

p.qolqolah{text-decoration:none;}
p.qolqolah:hover {color:#FF704D;}
p.qolqolahact {color:#91e842;}
p.qolqolahact:hover {color:#FF704D;}

p.lam_jalalah{text-decoration:none;}
p.lam_jalalah:hover {color:#FF704D;}
p.lam_jalalahact {color:#91e842;}
p.lam_jalalahact:hover {color:#FF704D;}

p.lam_tarif{text-decoration:none;}
p.lam_tarif:hover {color:#FF704D;}
p.lam_tarifact {color:#91e842;}
p.lam_tarifact:hover {color:#FF704D;}

p.hukumIdghom{text-decoration:none;}
p.hukumIdghom:hover {color:#FF704D;}
p.hukumIdghomact {color:#91e842;}
p.hukumIdghomact:hover {color:#FF704D;}

p.hukum_saktah{text-decoration:none;}
p.hukum_saktah:hover {color:#FF704D;}
p.hukum_saktahact {color:#91e842;}
p.hukum_saktahact:hover {color:#FF704D;}


p.latihan{text-decoration:none;}
p.latihan:hover {color:#FF704D;}
p.latihanact {color:#91e842;}
p.latihanact:hover {color:#FF704D;}

p.surat{text-decoration:none;}
p.surat:hover {color:#FF704D;}
p.suratact {color:#91e842;}
p.suratact:hover {color:#FF704D;}

p.ra{text-decoration:none;}
p.ra:hover {color:#FF704D;}
p.raact {color:#91e842;}
p.ract:hover {color:#FF704D;}

p.mad{text-decoration:none;}
p.mad:hover {color:#FF704D;}
p.madact {color:#91e842;}
p.madact:hover {color:#FF704D;}
p.waqof{text-decoration:none;}
p.waqof:hover {color:#FF704D;}
p.waqofact {color:#91e842;}
p.waqofact:hover {color:#FF704D;}




p.warna_ikhfa:hover {color:#91e842;}

#panel_tombol {width:660px; height:30px}


/*------------ navigasi -----------*/
#home {
    padding-left:5px; 
    width: 61px;
    height:26px;
    display:block;
    background:transparent url('images/home.png') center top no-repeat;
}
#home:hover {
    background-image: url('images/home_selected.png');
}
#home:active{
    background-image: url('images/home_selected.png');
}
#home_member {
    padding-left:5px; 
    width: 61px;
    height:26px;
    display:block;
    background:transparent url('images/home.png') center top no-repeat;
}
#home_member:hover {
    background-image: url('images/home_selected.png');
}
#home_member:active{
    background-image: url('images/home_selected.png');
}


#welcome{ font-family:"Trebuchet MS",Arial,Helvetica,sans-serif; font-size:15px;  padding-top:3px; width: 250px; float: right;}

#materi_pengantar {
    padding-left: 5px;
    padding-right: 0px;
    width: 70px;
    height:26px;
    display:block;
    background:transparent url('images/materi.png') center top no-repeat;
}
#materi_pengantar:hover {
    background-image: url('images/materi_selected.png');
}
#materi_pengantar:active{
    background-image: url('images/materi_selected.png');
}
#materi_member {
    padding-left: 5px;
    padding-right: 0px;
    width: 70px;
    height:26px;
    display:block;
    background:transparent url('images/materi.png') center top no-repeat;
}
#materi_member:hover {
    background-image: url('images/materi_selected.png');
}
#materi_member:active{
    background-image: url('images/materi_selected.png');
}


#komentar {
    padding-right: 0px;
    padding-left:  0px;
    width: 200px;
    height:26px;
    display:block;
    background:transparent url('images/komentar_saran.png') center top no-repeat;
}
#komentar:hover {
    background-image: url('images/komentar_saran_selected.png');
}
#komentar:active{
    background-image: url('images/komentar_saran_selected.png');
}
#komentar_member {
    padding-right: 0px;
    padding-left:  0px;
    width: 200px;
    height:26px;
    display:block;
    background:transparent url('images/komentar_saran.png') center top no-repeat;
}
#komentar_member:hover {
    background-image: url('images/komentar_saran_selected.png');
}
#komentar_member:active{
    background-image: url('images/komentar_saran_selected.png');
}


/*#nav_profil{
    padding-right:5px;
    padding-left: 5px;
    width: 60px;
    height:26px;
    display:block;
    background:transparent url('images/profil.png') center top no-repeat;
}
#nav_profil:hover {
    background-image: url('images/profil_selected.png');
}
#nav_profil:active{
    background-image: url('images/profil_selected.png');
}*/


#nav_info{
    padding-right: 0px;
    padding-left:  0px;
    width: 50px;
    height:26px;
    display:block;
    background:transparent url('images/info.png') center top no-repeat;
}
#nav_info:hover {
    background-image: url('images/info_selected.png');
}
#nav_info:active{
    background-image: url('images/info_selected.png');
}
#info_member{
    padding-right: 0px;
    padding-left:  0px;
    width: 50px;
    height:26px;
    display:block;
    background:transparent url('images/info.png') center top no-repeat;
}
#info_member:hover {
    background-image: url('images/info_selected.png');
}
#info_member:active{
    background-image: url('images/info_selected.png');
}

#navigator { float: left; }

/*---------------Table----------------*/
#tabel { width: 650px;}
.tableHeader {font-family:"Trebuchet MS",Arial,Helvetica,sans-serif; color: #222533;border-right: 1px solid #c1c9da;border-bottom: 1px solid #c1c9da;border-top: 1px solid #c1c9da;letter-spacing: 2px;  text-align:center;padding: 6px 6px 6px 6px;background: #c4d6eb;}
.tableContent {text-align:center;   font-family:"Trebuchet MS",Arial,Helvetica,sans-serif; border-right: 1px solid #c1c9da; border-bottom: 1px solid #c1c9da;border-left: 1px solid #c1c9da;padding: 6px 6px 6px 6px;}
tr.alt {background: #e0edfa; color: #222533;}
tr.box {background:#FFF;color: #222533;}



/*------------costumize----------------*/

input[type=submit]:hover, form a:hover {
	background: #287368;
	cursor: pointer;
}
/*input[type=text], input[type=password] {
	display: block;
	margin: 0 0 1em 0;
	width: 150px;
        height: 10px;
	border: 1px;
	-moz-border-radius: 1px;
	-webkit-border-radius: 1px;
	padding: 1em;
}

input[type=submit], form a {
	border: none;
	margin-right: 1em;
	padding: 6px;
	text-decoration: none;
	font-size: 12px;
	-moz-border-radius: 4px;
	background: #348075;
	color: white;
	box-shadow: 0 1px 0 white;
	-moz-box-shadow: 0 1px 0 white;
	-webkit-box-shadow: 0 1px 0 white;

}*/



/* Validation error messages */

.error {
	color: #393939;
	font-size: 12px;
        color: red;
        font-style: italic;
}

fieldset {
	width: 300px;
	margin: auto;
	margin-bottom: 2em;
	display: block;
}

/* FOR FUN */

h1 {
	text-shadow: 0 1px 0 white;
}


